<div class="row">
  <div class="large-8 columns">
<h1>Editing goal record</h1>

<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', mycalendar_index_path %>

  </div>
  <div class="large-4 columns">
  </div>
</div>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
