<div class="row">
  <div class="large-8 columns">
<%= calendar @events do |event| %>
  <div><%= link_to event.title, event %></div>
<% end %>

  </div>
  <div class="large-4 columns">
  </div>
</div>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
